
.content{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.posts{
    width: 67%;
}

.post{
    background: #fff;
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
    
    &-body{
        padding: 35px 35px 0px 35px;
    }
    &-title{
        margin-bottom: 19px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #262626;
    } 
    &-text{       
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
    }

    &-footer{
        display: flex;
        justify-content: space-between;
        padding: 13px 35px 13px 35px;
        background: #FAFAFA;
        border-top: 1px solid #E8E8E8;
        .icon{           
            fill: #8C8C8C;
            &-like{
                height:20px;
                width: 20px;
                margin-right: 6px;
            }
            &-save{
                height:20px;
                width: 20px;
            }
            &-share{
                height:18px;
                width: 20px;
            }
            &-comment{
                height:22px;
                width: 22px;
                margin-right: 6px;
            }
        }
    }
    &-buttons{
        display: flex;
        align-items: center;    
    }
    &-button{
        cursor: pointer;
        background-color: transparent;
        border:none;
        color: #8C8C8C;
        display: flex;
        align-items: center;
        font-style: 14px;
        line-height: 22px;
        margin-right: 12px;
        &:last-child{
            margin: 0px;    
        }
    }
    &-author{
        display: flex;
        align-items: center;
        text-align: right;
    }
    &-time{
        color: #BFBFBF;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
    }
}

.tags{
    margin: 10px 0px 22px 0px;
}

.tag{
    color: #BFBFBF;
    font-size: 14px;
    line-height: 22px;
    margin-right: 10px;
    &:last-child{
        margin: 0px;    
    }
}

.author{
    &-username{
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #8C8C8C;
    }
    &-avatar{
      //  width: 34px;
        height: 34px;
        margin-left: 9px;
        border-radius: 4px;
    }
}


